* {
  margin: 0;
  font-family: sans-serif;
  color: #333;
}
.content {
  max-width: 500px;
  margin: 40px auto;
  margin-top: 20px;
  padding: 20px;
}
.logo {
  text-align: center;
}
.logo img {
  width: 40%;
  height: 10%;
}
.head {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.head h3 {
  font-weight: bold;
  font-size: 1.1rem;
}
.form-control {
  border-radius: 10px;
  background-color: #f4f6f5;
}
.btn.btn-primary {
  border: white;
  border-radius: 10px;
  font-weight: 500;
}
.singup {
  background-color: #65b775;
  margin-bottom: 30px;
}

.google {
  background-color: #dd4b39;
}
.facebook {
  background-color: #3b5998;
}
.linkedin {
  background-color: #2e7cb6;
}
i {
  color: rgb(226, 226, 226);
  float: left;
  padding: 4px 15px 0 5px;
  font-size: 18px;
}
